@mixin fonts__h1 {
  font-size: 64px;
  line-height: 0.9;
  letter-spacing: 0;
  font-family: $fonts__serif;
  font-weight: $fonts__bold;
}
@mixin fonts__h2 {
  font-size: 48px;
  line-height: 1;
  letter-spacing: 0;
  font-family: $fonts__serif;
  font-weight: $fonts__bold;
}
@mixin fonts__h3 {
  font-size: 36px;
  line-height: 1;
  letter-spacing: 0;
  font-family: $fonts__serif;
  font-weight: $fonts__bold;
}
@mixin fonts__h4 {
  font-size: 28px;
  line-height: 1;
  letter-spacing: 0;
  font-family: $fonts__serif;
  font-weight: $fonts__bold;
}
@mixin fonts__h5 {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-family: $fonts__serif;
  font-weight: $fonts__bold;
}
@mixin fonts__h6 {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  font-family: $fonts__serif;
  font-weight: $fonts__bold;
}
@mixin fonts__body {
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0;
  font-family: $fonts__sans;
  font-weight: $fonts__light;
}
@mixin fonts__caption {
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: 0;
  font-family: $fonts__sans;
  font-weight: $fonts__light;
}
@mixin fonts__link {
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0;
  font-family: $fonts__sans;
  font-weight: $fonts__regular;
}
@mixin fonts__button {
  font-size: 20px;
  line-height: 1;
  letter-spacing: 0;
  font-family: $fonts__serif;
  font-weight: $fonts__bold;
}